* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: white;
}
header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 5px;
}
header nav ul {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    list-style-type: none;
  }
  
  
  
  