* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: black;
}
header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}
h2 {
   color: white;
}
header nav ul {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    list-style-type: none;
  }
  
  .box {
	width: 200px;
	height: 200px;
	min-height: 240px; 
	margin: 50px;
	border-radius: 15px;
	transition: all 0.3s ease;
	cursor: pointer;
	display: inline-flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
    outline-color: aqua;
}

/*border*/

.color {
    background-color: black;
    border: 5px solid red;
    box-shadow: 0 0 100px red, 0 0 40px red, 0 0 10px red;
}
.colorr {
    background-color: black;
    border: 5px solid blue;
    box-shadow: 0 0 100px blue, 0 0 40px blue, 0 0 10px blue;
}
.colorrr {
    background-color: black;
    border: 5px solid green;
    box-shadow: 0 0 100px green, 0 0 40px green, 0 0 10px green;
}

/*hover effects*/
.color:hover {
	transform: skew(10deg);
    transition: all 0.3s ease-in-out;
}
.colorr:hover {
	transform: translateY(10%);
    transition: all 0.3s ease-in-out;
}
.colorrr:hover {
	transform: translateX(10%);
    transition: all 0.3s ease-in-out;
}

  .box img {
    width: 100px;
    height: 100px;
  }

  /*contact box*/
  
  .box.color1 {
    border: 10px solid red;
    height: 10px;
    width: 800px;
   
}
.color1 {
    background-color: black;
    border: 5px solid red;
    box-shadow: 0 0 100px red, 0 0 40px red, 0 0 10px red;
}


